# Node.js
/node_modules
/backend/node_modules
/frontend/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
frontend/node_modules
backend/node_modules

# Build directories
/frontend/build
/backend/build

# dotenv environment variables
/backend/.env
/.env.local

# MacOS files
.DS_Store

# Windows files
Thumbs.db
desktop.ini

# VSCode files
.vscode/

# Production
/build

# ESLint cache
.eslintcache

# Miscellaneous
*.swp
*.swo
*.bak

# Coverage reports
/coverage

# IDE-specific files
.idea/

# Optional for React and Babel
.cache
